.admin
	padding: 0
	.sidebar
		font-size: 0.85em
		line-height: 1.7em
		padding: 20px 30px 20px 25px
		height: 100vh
		border-right: 1px solid $member-outline-color
		h3
			font-size: 1.2em
		ul
			padding-left: 10px
			li
				margin: 2px 0
				list-style-type: none
		hr
			display: inline-block
			border-color: black
			width: 60px
			margin: 0 0 0 10px
			padding: 0
		.fa-trash-o
			color: $red
			&:hover, &:focus, &:active
				color: $dark-red
	.dashboard
		padding: 0 0 10px 10px
		margin: 8px 0 0 0
	.units
		a
			color: $member-link-light
			&:hover, &:focus, &:active
				color: $member-link-light-hover
	.lessons
		a
			color: $member-link
			&:hover, &:focus, &:active
				color: $member-link-hover
	.edit
		padding: 35px 25px
		h3
			margin-top: 0
	.preview
		padding: 35px 25px
		border-top: 1px solid $member-outline-color