.admin-logo
	display: block
	width: 100%
	height: 60px
	background-color: rgba(0,0,0,0.3)
	.admin-logo-img
		margin-top: 19px
		margin-left: 20px
		width: auto
		height: 22px

.admin-sidebar
	font-size: 0.85em
	padding: 5px 25px 20px 25px
	margin-right: 0
	div
		display: inline-block
	a
		color: #afafaf
		&:hover, &:focus, &:active
			color: #909090
	h3
		font-size: 1.2em
	h5
		font-size: 1em
	ul
		padding-left: 0
	li
		list-style-type: none
	.fa-trash-o
		color: $red
		&:hover, &:focus, &:active
			color: $dark-red
	.fa-edit
	.fa-circle
		float: right
		margin-top: 3px
		margin-right: 1px
		color: #00c4e5
	.fa-circle-o
		@extend .fa-circle
	.fa-minus
		@extend .fa-circle
	.btn-new-unit
		color: white
		margin-top: 20px
		&:hover, &:focus, &:active
			color: white
	.active-unit
		color: white
	.active-lesson
		color: #00c4e5
		font-weight: 500
	.dashboard
		padding: 0
		margin: 20px 0 0 0
	.courses-wrapper
		padding: 0
		margin: 20px 0 0 0
		ul
			margin: 10px 0
		li
			padding-left: 10px
			a
				color: #e9cc7c
				&:hover, &:focus, &:active
					color: #f0b412
	.courses
		&.ng-enter
			opacity: 0
			+transition(all 0.2s)
			&.ng-enter-active
				opacity: 1
		&.ng-leave
			opacity: 1
			+transition(all 0.2s)
			&.ng-leave-active
				opacity: 0
	.course-item
		margin-bottom: 5px
	.units
		margin: 20px 0 30px 0
		hr
			display: block
			clear: both
			margin: 4px 0
			border: 0
			height: 1px
			background-color: rgba(175,175,175,0.12)
		.unit-menu
			text-transform: uppercase
	.lessons
		font-weight: 300
		padding: 6px 0 15px 0
		li
			padding: 3px 0
			padding-left: 10px
		.add-lesson-li
			padding-bottom: 7px
	.add-lesson
		font-size: 0.9em
		border: 1px solid $teal
		padding: 2px 4px
		color: $teal
		&:hover, &:focus, &:active
			color: $dark-teal
			border: 1px solid $dark-teal
	.lesson-item
		a
			color: #8ec5ce
			&:hover, &:focus, &:active
				color: #00c4e5
		.fa-trash-o
			color: $red
			&:hover, &:focus, &:active
				color: $dark-red		
	.lesson-title-container
		display: inline-block
		width: 90%

