.backend-nav-bg
	height: 46px
	width: 100%
	margin-top: -46px
	background-color: #39434b
	z-index: -1000

.admin-dashboard
	padding: 0
	.admin-dashboard-wrapper
		padding-top: 30px
		padding-bottom: 30px
	.btn-add-course
		padding-top: 20px
		padding-bottom: 20px
		margin-bottom: 10px
		text-shadow: none
		+box-shadow(none)
	.add-course-box
		font-size: 1em
		float: left
		width: 100%
		margin: 25px 0 50px 0
		border: 1px solid $outline-color
		padding: 25px
		&:hover
			box-shadow: 0 1px 4px #eaeaea
		h3
			font-size: 2em
			text-align: center
			margin-top: 0
			margin-bottom: 15px
		p
			font-size: 0.85em
			color: #c7c7c7
			margin-bottom: 3px
		label
			font-weight: 400
			color: #999
			margin-bottom: 2px
		.form-group
			margin-bottom: 0
		.form-control
			margin-bottom: 12px