// screen mockup
=screen-mockup-circle($size, $color)
	display: inline-block
	vertical-align: text-top
	margin-right: 1px
	margin-top: 1px
	width: $size
	height: $size
	+border-radius($size)
	background-color: $color

=screen-mockup-top($width, $height)
	display: block
	margin: 0 auto
	+border-top-radius(5px)
	width: $width
	height: $height
	background-color: #f1f1f1

=screen-mockup-main($width, $height, $color)
	display: block
	margin: 0 auto
	+border-bottom-radius(5px)
	width: $width
	height: $height
	background-color: $color

// Misc
=circle-outline($size, $border-color)
	display: block
	margin: 0 auto
	+border-radius($size)
	width: $size
	height: $size
	border: 2px solid $border-color

// Webkit autocomplete hack
=webkit-autofill($bg-color, $border, $border-focus, $form-text-color)
	&:-webkit-autofill
		-webkit-box-shadow: 0 0 0 1000px $bg-color inset
		border-bottom: $border
		-webkit-text-fill-color: $form-text-color
		&:focus
			-webkit-box-shadow: 0 0 0 1000px $bg-color inset
			border-bottom: $border-focus
			-webkit-text-fill-color: $form-text-color

// Background clip
=background-clip
	background-clip: padding-box
	-moz-background-clip: padding
	-webkit-background-clip: padding

