// bootstrap container styling
.container-md
	+container-fixed()
	@media (min-width: $screen-md-min)
		width: $container-md

// bootstrap form styling
.form-control
	display: block
	width: 100%
	height: 34px
	padding: 6px 12px
	font-size: 14px
	line-height: 1.42857143
	color: #555
	background-color: #fff
	background-image: none
	border-top: 1px solid #d3d3d3
	border-left: 1px solid #d3d3d3
	border-right: 1px solid #f2f2f2
	border-bottom: 1px solid #f2f2f2
	+border-radius(0px)
	+box-shadow(rgba(0, 0, 0, .14) 0 0 0)
	+transition(border-color .15s ease-in-out, box-shadow .15s ease-in-out)
	&:focus
		border-color: #66afe9
		outline: 0
		+box-shadow(rgba(0,0,0,.075) 0 0 0)

// custom layout
.absolute-center
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	margin: auto	

// bootstrap col styling - add it to col classes
.col-v-center
	float: none
	display: inline-block
	vertical-align: middle
	margin-right: -4px
.col-padding-right-30
	padding-right: 30px
.col-padding-left-30
	padding-left: 30px
.col-padding-top-40
	padding-top: 40px
.col-padding-bottom-40
	padding-bottom: 40px
.col-padding-sides-60
	padding-left: 60px
	padding-right: 60px
.col-padding-sides-80
	padding-left: 80px
	padding-right: 80px
.col-border-right
	border-right: 1px solid $outline-color
.col-border-left
	border-left: 1px solid $outline-color
.col-border-top
	border-top: 1px solid $outline-color
.col-border-bottom
	border-bottom: 1px solid $outline-color

// buttons
.btn
	padding: 9px 15px
	border: 0
	text-shadow: 0 1px 0 rgba(0,0,0,0.1)
	+box-shadow(rgba(0,0,0,0.15) 0 1px 0, rgba(255,255,255,0.05) 0 -1px 0)
.btn-round
	font-size: 1.2em
	font-weight: 300
	padding: 11px 14px
	+border-radius(100px)
.btn-outline-white
	color: white
	border: 1px solid #999
	transition: border 0.3s ease
	&:hover, &:focus, &:active
		color: white
		border: 1px solid white
.btn-outline-black 
	color: black
	border: 1px solid #bbb
	+transition(border, 0.3s, ease)
	&:hover, &:focus, &:active
		color: black
		border: 1px solid black
.btn-primary // overwrites Bootstrap
	background-color: #269de0
	color: white
	+transition(background-color 0.3s ease)
	&:hover, &:focus, &:active
		color: white
		background-color: #1789c9
.btn-red
	background-color: $red
	color: white
	+transition(background-color 0.3s ease)
	&:hover, &:focus, &:active
		color: white
		background-color: $dark-red
.btn-yellow
	background-color: $yellow
	color: white
	+transition(background-color 0.3s ease)
	&:hover, &:focus, &:active
		color: white
		background-color: $dark-yellow
.btn-orange-yellow
	background-color: $orange-yellow
	color: white
	+transition(background-color 0.3s ease)
	&:hover, &:focus, &:active
		color: white
		background-color: $dark-orange-yellow
.btn-teal
	background-color: $teal
	color: white
	+transition(background-color 0.3s ease)
	&:hover, &:focus, &:active
		color: white
		background-color: $dark-teal
.btn-dark-grey
	background-color: $dark-grey
	color: white
	+transition(background-color 0.5s ease)
	&:hover, &:focus, &:active
		color: white
		background-color: $darker-grey

.btn-square
	+border-radius(0)

.btn-xs
	font-size: 0.8em
	padding: 6px 9px

.btn-sc
	border: none
	font-family: inherit
	font-size: 1em
	color: white
	cursor: pointer
	padding: 9px 15px
	display: inline-block
	margin: 5px 0
	font-weight: 400
	outline: none
	position: relative
	+border-radius(4px)
	text-shadow: 0 1px 0 rgba(0,0,0,0.1)
	+box-shadow(rgba(0,0,0,0.15) 0 1px 0, rgba(255,255,255,0.05) 0 -1px 0)
	+transition(all 0.3s)

.btn-loading
	position: relative
	overflow: hidden
	span
		display: inline-block
		width: 100%
		height: 100%
		-webkit-transition: all 0.3s
		-webkit-backface-visibility: hidden
		-moz-transition: all 0.3s
		-moz-backface-visibility: hidden
		transition: all 0.3s
		backface-visibility: hidden

.btn-partial-loading, .btn-partial-success, .btn-partial-error
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: -100%
	display: block
	margin: auto
	background: transparent
	+transition(all 0.3s)
	> .fa
		font-size: 1.2em

.btn-login
	position: relative
	overflow: hidden
	display: inline-block
	vertical-align: middle
	width: $login-button-width
	height: $login-button-height
	font-size: 1.5em
	font-weight: 600
	padding: 8px
	margin: 0
	margin-top: -6px
	background-color: transparent
	color: rgba(0,0,0,0.3)
	border: 3px solid rgba(0,0,0,0.3)
	+border-radius(100px)
	+transition(all 0.3s ease)
	+box-shadow(none)
	&:hover, &:focus, &:active
		color: rgba(0,0,0,0.7)
		border: 3px solid rgba(0,0,0,0.7)

.loading-btn-text
	position: relative
	display: block

// custom icons
.icon-loading // loading icon
	display: block
	height: 20px
	width: 20px
	border-radius: 50px
	border: 2px solid #fff
	border-left-color: #fff
	border-top-color: rgba(0,0,0,0.08)
	border-bottom-color: rgba(0,0,0,0.08)
	border-right-color: #fff
	@extend .rotate-circle

.loading-btn-icon
	height: 20px
	width: 20px

// custom file input button
.file-input-custom
	padding-bottom: 15px
