<div class="edit-lesson-bg row">
	<div class="edit-lesson-col col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

		<section class="edit-lesson">
			<h3>Edit Lesson {{ wpr.lesson.lessonNum }} in <a ui-sref="admin.edit-unit({unitId: wpr.unit.$id})">Unit {{ wpr.unit.unitNum }}</a></h3>
			<form ng-submit="wpr.updateLesson()">
				<div class="form-group">
					<label>Title*</label>
					<input class="form-control" type="text" ng-model="formData.lesson.title" required>
					<label>Subtext</label>
					<input class="form-control" type="text" ng-model="formData.lesson.subtext">
					<label>Estimated Completion (in hours)*</label>
					<input class="form-control" type="number" ng-model="formData.lesson.duration" required>
					<label>Lesson Category*</label>
					<input class="form-control" type="text" ng-model="formData.lesson.category" required>
					<label>Body HTML*</label>
					<input class="file-input-custom" type="file" sc-fileread="formData.lesson.bodyHTML" required>
					<sc-loading-btn success="btn.success" loading="btn.loading">Save Changes</sc-loading-btn>
				</div>
			</form>

			<!-- page loading modal -->
			<sc-page-loading page-loading="wpr.pageLoading"></sc-page-loading>

		</section>

	</div>
</div>
