<div class="container-fluid about-wrapper">

	<article class="about-feature">
		<nav ng-include="'views/partials/nav.html'"></nav>
		<section class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="about-feature-text animated fadeInUp delay-500ms">
					<h2>Teaching Philosophy</h2>
					<p class="about-feature-subheading">
						From setting up the dev environment on your computer to deploying your very first web app, I will walk you through every step of turning your idea into a real app in 90 days or less.
					</p>
				</div>
		</section>
	</article>

	<article class="about-content">
		<div class="container-md">
			<div class="row">
				<section class="col-md-6 col-md-offset-3">
					<h3>My Account</h3>
				</section>
			</div>
		</div>
	</article>

</div>