<div class="container-fluid about-wrapper">

	<article class="about-feature">
		<nav ng-include="'views/partials/nav.html'"></nav>
		<section class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="about-feature-text animated fadeInUp delay-500ms">
					<h2>Teaching Philosophy</h2>
					<p class="about-feature-subheading">Coderfront is built on a unique set of teaching principles.<br>Here's a few that set this course apart.</p>
				</div>
		</section>
	</article>

	<article class="about-content">
		<div class="container-md">
			<div class="row">
				<section class="col-md-8 col-md-offset-2">
					<h3>Just-in-time learning.</h3>
					<p>Most students fail to pick up coding not because they're incapable, but because they lose interest somewhere along the way. This is why momentum is so crucial at the early stages.</p>
					<p>To build momentum, this course will focus on teaching you only what is necessary to get to the next step. No more, no less. I call it just-in-time learning.</p>
					<p>Most programs out there take a different approach. They will try to have you master a language or framework first (be it Javascript, Ruby or AngularJs) before doing anything practical with it - like building a real app.</p>
					<p>This is a wrong approach. Achieving certain proficiency with Javascript, for example, can take months. It can also get very dry because you won't have a practical use for it until you're months into it. Before long, you burn out and quit.</p>
					<p>So instead of making you master Javascript (or any other language for that matter) before doing anything else, I might teach you just enough of it to get to the next step. You'd learn only parts of functions and objects, for instance, when you start out. Then when we get to AngularJs controllers and the dot notation, we'd learn about prototypal inheritence - but not before that.</p>
					<p>Just-in-time learning is all about holding back on learning something until you absolutely need it to move to the next step. This way, you will never be bored or overwhelmed. You'll be surprised how effective this method of learning is compared to traditional textbook style learning.</p>

					<h3>Big picture first.</h3>
					<p>One of the biggest qualms I had when I first started out was that no one bothered to show me the big picture. How do multiple parts of architecting a complete app fit together? For example, why do we need servers? Where does database fit in?</p>
					<p>Without seeing the whole, your understanding of parts are seriously undermined.</p>
					<p>In this course, we will always start with the big picture. You'll never have to wonder why you're learning what you're learning and how it'll fit into your app.</p>

					<h3>Hypothetical exercises are boring.</h3>
					<p>That's why this course is completely project based. And it won't be some fake, hypothetical project (like a to do list) either. It'll be one large, practically useful app. If it sounds daunting, don't worry - we'll take it one small step at a time.</p>
					<p>First, we'll build basic features - like simply listing products on a page. Then we'll add things on - filtering these products, making the product presentations prettier, adding email sign ups. Then we might add sales pages, animations, and payment processing.</p>
					<p>Before you know it, we will have built a complete app together. And once you know how to build that, you will only get more sophisticated with your future projects.</p>
					<p>By working on a real app this way, you'll obtain exact skills you need to build your next dream app without having to work through some hypothetical exercise or project.</p>

					<h3>Rote learning should be minimized,<br>but it has its place.</h3>
					<p>Rote learning sucks. It's super boring to learn things through repetition.</p>
					<p>But you can't avoid a little repetition when learning a language. When we're learning Javascript syntax, for example, we'll have to have some repetitions.</p>
					<p>The key is to know when to use rote learning - in languages, it often makes sense. But not when we're learning logic.</p>
					<p>Javascript is a language, but like English, learning to be proficient at it has a lot more to it than getting used to the syntax. And for these parts, we'll endeavor to avoid rote learning as much as possible.</p>

					<h3>Proactive self-learning.</h3>
					<p>This course will provide you with a guide. But you can't blindly follow it.</p>
					<p>You need to proactively search for resources to aid your understanding if you feel the course materials don't give you a clear enough picture.</p>
					<p>You need to spend at least half an hour on a problem before reaching out for help - persistence is a defining characteristic of a great student. If you're stuck, you can go to websites like Stack Overflow and find solutions to your problems. The chances are, someone else has already had a similar question before you.</p>
					<p>When that doesn't work, that's when you contact me - not before. If you don't try to figure things out on your own, you will never become a good coder - heck, you won't be a good problem solver.</p>
					<p>This course will pre-screen common pitfalls, curate best practices, and greatly speed up your learning. But in the end, you know how you learn best. And by being proactive about learning, you're far more likely to succeed.</p>

					<h3>Sounds like your type of course?</h3>
					<p>Then sign up to the mailing list here and I'll send you an email when the course is ready (coming soon!).</p>

					<div class="about-btn-wrapper">
						<a class="btn btn-primary btn-lg about-btn" ui-sref="signup">Sign Up to Mailing List&nbsp;&nbsp;<i class="fa fa-angle-right bouncing-arrow"></i></a>
					</div>

				</section>
			</div>
		</div>
	</article>

</div>