<div class="admin-logo">
	<a ui-sref="home" tabindex="-1"><div class="admin-logo-img"></div></a>
</div>

<aside ng-controller="AdminSidebarCtrl">
	<div class="admin-sidebar">

		<!-- admin only -->
		<div ng-if="wpr.userData.admin" class="dashboard"><a ui-sref="admin-dashboard"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;BACK TO COURSES</a></div>
		<a ng-if="wpr.userData.admin" class="btn btn-teal btn-block btn-new-unit" ui-sref="backend.add-unit({courseId: wpr.courseId})" ng-click="wpr.closeSidebar = true">+ Add a New Unit</a>
		<!-- end: admin only -->

		<div class="courses-wrapper">
			<a ng-click="wpr.courseToggle = !wpr.courseToggle">SHOW YOUR COURSES&nbsp;&nbsp;<i class="fa fa-caret-down" ng-if="!wpr.courseToggle"></i><i class="fa fa-caret-up" ng-if="wpr.courseToggle"></i></a>
			<ul class="courses" ng-if="wpr.courseToggle">
				<li class="course-item" ng-repeat="(courseId, course) in wpr.purchasedCoursesObj"><a ui-sref="backend.welcome({courseId: courseId})">{{ course.title }}</a></li>
			</ul>
		</div>

		<ul class="units">
			<li class="unit-item" ng-repeat="unit in wpr.unitsArray | orderBy: 'unitNum'">
				<a class="unit-menu" ng-click="wpr.activeUnit = unit.unitNum; wpr.activeLesson = null;" ng-class="{'active-unit': wpr.activeUnit === unit.unitNum }" ui-sref="backend.view-unit({unitId: unit.$id})">Unit {{ unit.unitNum }} : {{ unit.title }}</a>&nbsp;&nbsp;
				<!-- admin only -->
				<div ng-if="wpr.userData.admin">
					<a class="fa fa-edit" ng-click="wpr.activeUnit = unit.unitNum;" ui-sref="backend.edit-unit({unitId: unit.$id})"></a>&nbsp;
					<a class="fa fa-trash-o" ng-click="wpr.deleteUnitModalOpen = true; wpr.unitData = unit"></a>
				</div>
				<!-- end: admin only -->
				<hr>
				<ul class="lessons">
					<!-- admin only -->
					<li ng-if="wpr.userData.admin" class="add-lesson-li"><a class="add-lesson" ui-sref="backend.add-lesson({unitId: unit.$id})" ng-click="wpr.closeSidebar = true">+ Add a New Lesson</a></li>
					<!-- end: admin only -->
					<li class="lesson-item" ng-repeat="lesson in unit.lessons | toArray | orderBy: 'lessonNum'">
						<div class="lesson-title-container">
							<a ng-click="wpr.activeUnit = unit.unitNum; wpr.activeLesson = lesson.lessonNum;" ng-class="{'active-lesson': wpr.activeLesson === lesson.lessonNum && wpr.activeUnit === unit.unitNum }" ui-sref="backend.view-lesson({unitId: unit.$id, lessonId: lesson.$id})">Lesson {{ lesson.lessonNum }} : {{ lesson.title }}</a>&nbsp;&nbsp;
							<!-- admin only -->
							<div ng-if="wpr.userData.admin">
								<a class="fa fa-edit" ng-click="wpr.activeLesson = lesson.lessonNum;" ui-sref="backend.edit-lesson({unitId: unit.$id, lessonId: lesson.$id})"></a>&nbsp;
								<a class="fa fa-trash-o" ng-click="wpr.deleteLessonModalOpen = true; wpr.unitId = unit.$id; wpr.lessonData = lesson;"></a>
							</div>
							<!-- end: admin only -->
						</div>
						<a class="fa fa-minus" ng-if="wpr.activeLesson === lesson.lessonNum && wpr.activeUnit === unit.unitNum"></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</aside>