<div class="container-fluid admin-dashboard">

	<nav ng-include="'views/partials/nav.html'"></nav>
	<div class="backend-nav-bg"></div>

	<div class="container admin-dashboard-wrapper">
		<div class="row">
			<div ng-if="wpr.userDataObj.admin" class="col-md-8 col-md-offset-2">
				<section class="add-course-box">
					<form class="add-course-form" ng-submit="wpr.createCourse()">
						<div class="form-group">
							<h3>Add Course</h3>
							<div btn-class="btn btn-add-course btn-square btn-lightest-grey btn-block btn-progress" btn-text="<i class='fa fa-cloud-upload'></i>&nbsp;Upload Thumb" s3-upload bucket="coderfront" ng-model="newCourse.thumbUrl" s3-upload-options="{getOptionsUri: 'http://localhost:8000/s3credentials', folder: 'thumbs/'}"></div>
							<label>Course Title</label>
							<input class="form-control" type="text" ng-model="newCourse.title" required>
							<label>Course Intro</label>
							<textarea class="form-control" ng-model="newCourse.intro" rows="10" required></textarea>
							<button class="btn btn-primary btn-block" type="submit"><sc-btn-loading loading-toggle="btn.loading">Create Course</sc-btn-loading></button>
						</div>
					</form>
				</section>
			</div>

			<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="(courseId, course) in wpr.courses">
				<div ng-include="'views/partials/coursebox.html'"></div>
			</div>

			<!-- page loading modal -->
			<sc-page-loading page-loading="wpr.pageLoading"></sc-page-loading>

		</div>
	</div>

</div>