<div class="container-fluid admin">
	
	<!--<nav ng-include="'views/partials/admin-nav.html'"></nav>-->

	<div class="admin-row row">

		<!-- left side bar -->
		<nav class="menu-panel" ng-class="{'slide-menu-right': menuToggle}" ng-include="'views/partials/admin-sidebar.html'"></nav>

		<!-- main content section -->
		<article class="admin-content col-md-12" ng-class="{'slide-content-right': menuToggle}">
			
			<div class="menu-toggle" ng-click="menuToggle = !menuToggle"><i class="fa fa-bars"></i></div>

			<div class="admin-view-animation-container">
				<div ui-view class="admin-view-animation"></div>
			</div>

		</article>

	</div>

</div>
