<div class="container-fluid changepassword-wrapper">

	<sc-progressbar-top progress-width="changepassword.progressWidth"></sc-progressbar-top>

	<section class="logo">
		<a ui-sref="home"><img class="logo-img" src="../images/logo-light.png" class="logo-img"></a>
	</section>

	<!-- changepassword step 1-->
	<article class="changepassword-bg changepassword-bg-color1" ng-if="changepassword.step === 1">
		<section class="changepassword-container absolute-center changepassword-step-1">
			<form class="changepassword-form-container" ng-submit="changepassword.authenticate()">
				<label for="fullname">Please enter your email and current password.</label>
				<input class="changepassword-form changepassword-email" type="email" name="email" placeholder="Email" ng-model="formData.user.email" required>
				<input class="changepassword-form changepassword-oldpassword" type="password" name="oldPassword" placeholder="Current Password" ng-model="formData.user.oldPassword" sc-setfocus setfocus="changepassword.focus.step1" required>
				<button type="submit" class="btn btn-survey btn-survey-md">Next&nbsp;&nbsp;<i class="fa fa-angle-right"></i></button>
			</form>
		</section>
	</article>

	<!-- changepassword step 2-->
	<article class="changepassword-bg changepassword-bg-color2" ng-if="changepassword.step === 2">
		<section class="changepassword-container absolute-center changepassword-step-2">
			<form class="changepassword-form-container" ng-submit="changepassword.changePassword()" autocomplete="off">
				<label for="password">Now please pick your new password and confirm.</label>
				<input class="changepassword-form changepassword-password" type="password" name="newPassword" placeholder="New Password" ng-model="formData.user.newPassword" sc-setfocus setfocus="changepassword.focus.step2" autocomplete="off" required>
				<input class="changepassword-form changepassword-confirm-password" type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="formData.confirmPassword" autocomplete="off" required>
				<sc-loading-btn btn-class="btn btn-survey btn-survey-md" btn-type="survey" success="btn.success" loading="btn.loading">Done</sc-loading-btn>
			</form>
			<div class="survey-error-msg">{{ msg.error }}</div>
			<div class="survey-success-msg">{{ msg.success }}</div>
		</section>
	</article>

</div>