<div class="container-fluid contact-wrapper">

	<article class="contact-bg">
		<nav ng-include="'views/partials/nav.html'"></nav>
	</article>

	<article class="contact-content">
		<div class="container-md">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">

					<section class="contact-text animated fadeInUp delay-500ms">
						<h2>Contact Us</h2>
						<p>If you have any questions or concerns,<br>feel free to email us at</p>
						<i class="fa fa-angle-down fa-3x"></i>
					</section>

					<section class="contact-email animated fadeInUp delay-1000ms">
						<p>help@coderfront.com</p>
					</section>

				</div>
			</div>
		</div>
	</article>
