<div class="course" ng-controller="CourseboxCtrl">
	<section class="course-delete">
		<button class="btn btn-red btn-xxs" ng-click="courseBox.deleteModalOpen = true"><i class="fa fa-times"></i>&nbsp;Delete</button>
	</section>
	<a class="course-wrapper" ui-sref="admin.add-unit({courseId: courseId })">
		<section class="course-pic-container">
			<img ng-src="{{ course.thumbUrl }}">
		</section>
		<section class="course-box">
			<h3>{{ course.title }}</h3>
		</section>
	</a>

	<!-- modal for confirming delete course -->
	<sc-modal sc-modal-open="courseBox.deleteModalOpen" sc-modal-type="delete" sc-modal-text="Are you sure you want to delete the '{{ course.title }}' Course?" sc-modal-yes="courseBox.deleteCourse(courseId);"></sc-modal>

</div>
