<div class="container-fluid home">

	<article class="feature">
		<nav ng-include="'views/partials/nav.html'"></nav>
		<section class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="animated bounceInDown">Learn to Build a Web App in 3 Months.</h2>
				<p class="subheading">
					From setting up the dev environment on your computer to deploying your very first web app, we'll walk you through every step of turning your idea into a real app in 90 days or less.
				</p>
				<a class="btn btn-outline-white btn-lg btn-round btn-feature animated bounceInDown delay-05s">Sign Up to View Curriculum&nbsp;&nbsp;<i class="fa fa-angle-right bouncing-arrow"></i></a>
			</div>
		</section>
		<img ng-src="../images/feature-single.png" class="feature-image animated fadeInUp delay-1s">
	</article>

	<article class="benefits">
		<div class="container-md">
			<div class="row">
				<section class="col-md-6 col-v-center">
					<h2>It's easier than ever.</h2>
					<p>Learning to code seems like a daunting task to someone just starting out. But it really isn't nearly as difficult as you think - especially with the tools that became available in the last couple of years. Latest technologies like AngularJs and Bootstrap make it surprisingly simple to build a highly interactive and beautiful web apps.</p>
					<p>By the end of this course, you'll be proficient enough at coding that whenever you have an idea for your next big thing, you can quickly build it out into a real app yourself.</p> 
				</section>
				<section class="col-md-6 col-v-center col-padding-left-30">
					<!-- screen mockup in html/css -->
					<div class="screen-mockup">
						<div class="screen-top">
							<div class="circle-red"></div>
							<div class="circle-yellow"></div>
							<div class="circle-green"></div>
						</div>
						<div class="screen-main">
							<code>Hello World</code>
						</div>
					</div>
				</section>
			</div>
		</div>
	</article>

	<article class="benefits benefits-outline benefits-center">
		<div class="container-md">
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Get the complete picture.</h2>
					<p>The problem with most tutorials or teaching programs is that they only teach you parts but fail to put them together. For example, if you only learn Python or AngularJs, you'll certainly run into unforeseen problems when it comes time to scaffolding your app, linking frontend and backend together, and taking it to deployment.</p>
					<p>In Coderfront, you'll learn how every part comes together - from architecting your app structure to deploying it live.</p>
				</div>
			</section>
			<section class="row">
				<div class="col-md-12">
					<img class="complete-pic" ng-src="../images/complete-pic.png">
				</div>
			</section>
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<p>Once you have a good idea of how to design a fully functional app from scratch, you can add other pieces on top for a more comprehensive app. In this course, we will be covering one of the most important add-on features for startups - payment processing through Stripe.</p>
				</div>
			</section>
			<section class="row">
				<div class="col-md-12">
					<img class="complete-pic2" ng-src="../images/complete-pic2.png">
				</div>
			</section>
		</div>
	</article>

	<article class="benefits">
		<div class="container-md">
			<div class="row">
				<section class="col-md-6 col-v-center">
					<h2>Latest technology stack.</h2>
					<p>Beginners think learning cutting edge technologies is too hard - so they start with more 'established' ones. That's a mistake.</p>
					<p>Newer frameworks like AngularJs is not only easier to learn, but they also do a lot more for you. It's like upgrading your axe to a chain saw.</p>
					<p>At Coderfront, you'll learn the latest technology stack comprised of AngularJs, NodeJs, Firebase, Bootstrap, and more so you can build out your app as rapidly as possible when you need to.</p>
				</section>
				<section class="col-md-6 col-v-center">
					<img class="technology-stack" ng-src="../images/technology-stack.png">
				</section>
			</div>
		</div>
	</article>

	<article class="benefits benefits-outline benefits-center">
		<div class="container-md">
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Learn only the good parts.</h2>
					<p>One of the trickiest parts of learning to code on your own is identifying the best practices. It's nearly impossible to find out which tutorials are telling you the best way to code or structure your app.</p>
					<p>With our guidance, you will avoid building bad coding habits and working with suboptimal app structures and development methods. You won't have to waste your valuable time learning the best practices through months of trial and error. The result is a much faster development and greatly improved maintainability of your apps.</p>
				</div>
			</section>
			<section class="row">
				<div class="col-md-4 col-md-offset-2">
					<ul class="good-list">
						<li><code>Object Oriented Programming</code></li>
						<li><code>Prototypal Inheritence</code></li>
						<li><code>REST API</code></li>
						<li><code>Separation of Concerns</code></li>
						<li><code>Two/three-way Data Binding</code></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="good-list">
						<li><code>Real-time Data Syncing</code></li>
						<li><code>Proper Scaffolding</code></li>
						<li><code>Clean and DRY code</code></li>
						<li><code>Version Control</code></li>
						<li><code>Responsive Designs</code></li>
					</ul>
				</div>
			</section>
		</div>
	</article>

	<article class="benefits benefits-center benefits-boxes">
		<div class="container-md">
			<h2>Our Approach</h2>
			<div class="row">
				<section class="col-md-6 col-padding-sides-80 col-border-right col-border-bottom col-padding-bottom-40">
					<h3>Just-In-Time Learning</h3>
					<p>Learn only what's needed to get to the next step. It may sound counter-intuitive now, but you'll be surprised how much this method speeds up your learning.</p>
				</section>
				<section class="col-md-6 col-padding-sides-80 col-border-bottom col-padding-bottom-40">
					<h3>Project-Based Curriculum</h3>
					<p>Instead of solving hypothetical problems, you'll be building a real app from scratch. Real projects are not only more fun, but it also teaches you how parts fit together.</p>
				</section>
			</div>
			<div class="row">
				<section class="col-md-6 col-padding-sides-80 col-border-right col-padding-top-40">
					<h3>No Stones Unturned</h3>
					<p>When I first started out, it was frustrating to go through tutorials because they always assume prior knowledge. In CoderFront, every new jargon and concept will be explained.</p>
				</section>
				<section class="col-md-6 col-padding-sides-80 col-padding-top-40">
					<h3>Flexibility</h3>
					<p>Our curriculum gives you some structure, but it's not supervised. You can decide to learn as fast - or slow - as you want. When and where you learn is up to you.</p>
				</section>
			</div>
		</div>
	</article>

	<article class="benefits benefits-greybg benefits-center">
		<div class="container-md">
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Get help when you need it.</h2>
					<p>A well thought out curriculum with project based learning does wonders.<br>But what if you get stuck?</p>
					<p>That's when a mentor comes handy. You are encouraged to work through problems as best as you can - because that's the best way to learn - but if you really get stuck, your mentor is only an email away. Or a Google Hangout away if it makes more sense.</p>
				</div>
			</section>
			<section class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="help-diagram">
						<i class="fa fa-envelope-o fa-3x"></i>
						<i class="fa fa-comment-o fa-3x"></i>
						<i class="fa fa-google-plus fa-3x"></i>
						<i class="fa fa-github fa-3x"></i>
					</div>
				</div>
			</section>
		</div>
	</article>

	<article class="benefits benefits-center">
		<div class="container-md">
			<div class="row">
				<section class="col-md-6 col-padding-sides-60">
					<h2>Who is This For?</h2>
					<ul class="who-list">
						<li>Complete beginners</li>
						<li>Enterpreneurs &amp; Founders</li>
						<li>Designers</li>
					</ul>
					<p>Ideally, you're a passionate learner who is logical and driven. You're not afraid to teach yourself things, but would like some structure and guidance for maximum learning efficiency. You can solve problems on your own, but you want a mentor in case of trouble. You prefer to learn by working on real projects rather than going through a book.</p>
					<p>If this sounds like you, this program is for you.</p>
				</section>
				<section class="col-md-6 col-padding-sides-60">
					<h2>Required of You</h2>
					<ul class="who-list">
						<li>20-30 hours/week</li>
						<li>Passion for learning</li>
						<li>Logical mind</li>
					</ul>
					<p>We will guide you through the entire process, but there's a big self-learning component here. You'll get help when you need it, but you should always aim to solve problems on your own.</p>
					<p>Basic understanding of HTML/CSS is a plus, but not required. Basic understanding of programming principles such as variables, functions, objects, etc is a plus as well, but not required.</p>
				</section>
			</div>
		</div>
	</article>

	<article class="pricing">
		<div class="container-md">
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Join the next class on .</h2>
					<p>Learn how to build a fully functional app in 3 months.<br>Sign up to check out the curriculum now.</p>
					<div>
						<a class="btn btn-primary btn-lg btn-round btn-pricing">Sign Up to View Curriculum&nbsp;&nbsp;<i class="fa fa-angle-right bouncing-arrow"></i></a>
					</div>
				</div>
			</section>
			<section class="row pricing-bullets">
				<div class="col-md-4">
					<h3>What you'll learn</h3>
					<hr>
					<p>HTML/CSS + Bootstrap for frontend design, AngularJs for frontend interaction, Firebase for database &amp; user authentication, NodeJs + Express for REST API, Stripe for payment processing.</p>
				</div>
				<div class="col-md-4">
					<h3>Pricing &amp; Duration</h3>
					<hr>
					<p>3 monthly installments of <b>$300</b>. This course requires 20-30 hours/week. It's designed to be completed in 3 months, but you can certainly finish it faster if you invest more time in it.</p>
				</div>
				<div class="col-md-4">
					<h3>Guarantee</h3>
					<hr>
					<p>You have 2 weeks to try out the course and if you don't find it awesome, we'll give you a full refund.</p>
				</div>
			</section>
		</div>
	</article>

</div>