<div class="container-fluid home-wrapper">

	<article class="feature">
		<nav ng-include="'views/partials/nav.html'"></nav>
		<section class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="feature-text animated bounceInDown delay-500ms">
					<h2>Learn to Build a Web App in 3 Months.</h2>
					<p class="subheading">
						From setting up the dev environment on your computer to deploying your very first web app, I will walk you through every step of turning your idea into a real app in 90 days or less.
					</p>
				</div>
				<!--<a class="btn btn-outline-white btn-lg btn-round btn-feature animated bounceInDown delay-1000ms" ui-sref="signup">Sign Up to View Curriculum&nbsp;&nbsp;<i class="fa fa-angle-right bouncing-arrow"></i></a>-->
			</div>
		</section>
		<div class="feature-image animated fadeInUp delay-1500ms"></div>
	</article>

	<article class="benefits">
		<div class="container-md">
			<div class="row">
				<section class="col-md-6 col-v-center">
					<h2>It's easier than ever.</h2>
					<p>Learning to code seems like a daunting task to someone just starting out. But it really isn't nearly as difficult as you think - especially with the tools that became available in the last couple of years. Latest technologies like AngularJs and Bootstrap make it surprisingly simple to build a highly interactive and beautiful web apps.</p>
					<p>By the end of this course, you'll be proficient enough at coding to build out a fully functional app whenever you have an idea for your next big thing.</p> 
				</section>
				<section class="col-md-6 col-v-center col-padding-left-30">
					<!-- screen mockup in html/css -->
					<div class="screen-mockup">
						<div class="screen-top">
							<div class="circle-red"></div>
							<div class="circle-yellow"></div>
							<div class="circle-green"></div>
						</div>
						<div class="screen-main">
							<code>Hello World</code>
						</div>
					</div>
				</section>
			</div>
		</div>
	</article>

	<article class="benefits benefits-outline benefits-center">
		<div class="container-md">
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Get the complete picture.</h2>
					<p>The problem with most tutorials or teaching programs is that they only teach you parts but fail to put them together. For example, if you only learn Python or AngularJs, you'll certainly run into unforeseen problems when it comes time to putting them all together to a complete app.</p>
					<p>In Coderfront, you'll learn how every part comes together - from architecting your app structure to deploying it live.</p>
				</div>
			</section>
			<section class="row">
				<div class="col-md-12">
					<div class="complete-pic"></div>
				</div>
			</section>
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<p>Once you have a good idea of how to design a fully functional app from scratch, you can add other pieces to create a more comprehensive app. This course will cover one of the most important add-on features for startups - payment processing through Stripe.</p>
				</div>
			</section>
			<section class="row">
				<div class="col-md-12">
					<div class="complete-pic2"></div>
				</div>
			</section>
		</div>
	</article>

	<article class="benefits">
		<div class="container-md">
			<div class="row">
				<section class="col-md-6 col-v-center">
					<h2>Latest technology stack.</h2>
					<p>Beginners think learning cutting edge technologies is too hard - so they start with more 'established' ones. That's a mistake.</p>
					<p>Newer frameworks like AngularJs is not only easier to learn, but they also do a lot more for you. It's like upgrading your axe to a chain saw.</p>
					<p>At Coderfront, you'll learn the latest technology stack comprised of AngularJs, NodeJs, Firebase, Bootstrap, and more so you can build out your app as rapidly as possible when you need to.</p>
				</section>
				<section class="col-md-6 col-v-center">
					<div class="technology-stack"></div>
				</section>
			</div>
		</div>
	</article>

	<!--
	<article class="benefits benefits-outline benefits-center">
		<div class="container-md">
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>About the Course</h2>
					<p>This course is a series of written and video tutorials that will take you from nothing to a fully functional app in less than 3 months.</p>
					<p>When you sign up, you'll get immediate access to all materials where you'll learn everything you need to turn your idea into a real app - from Javascript to HTML/CSS to AngularJs and more.</p>
				</div>
			</section>
		</div>
	</article>
	-->

	<article class="benefits benefits-paperbg benefits-center">
		<div class="container-md">
			<section class="row instructor-letter">
				<div class="col-md-8 col-md-offset-2">
					<i>A letter from the instructor</i>
					<h2>Do you have a business idea you want to turn into a web app?</h2>
					<p>I did.</p>
					<p>But I had a problem. I didn't know how to code. So I looked for someone who can help me with it. But even after months of searching, finding a technical co-founder proved extremely challenging.</p>
					<p>Decent coders are in high demand. There are far more people - entrepreneurs and corporations alike - looking for a coder than there are coders. Which is why they routinely command a six-figure pay.</p>
					<p>Without a technical cofounder, I had to resort to spending precious dollars on hiring contractors who not only gave me disappointing results, but also slowed me down. As a startup, this lack of speed was crippling - not just to the business but to morale.</p>
					<p>I eventually found a part-time technical co-founder, but the progress stayed painfully slow because he couldn't put enough time into the startup. It frustrated the heck out of me.</p>
					<h3>So I decided to do it myself.</h3>
					<p>I resolved to learn how to code once and for all. But I soon realized that hopping from one online tutorial to another just added to my confusion.</p>
					<p>Everything felt unorganized and all over the place. I started learning Javascript through Codecademy, but even after completing all the tracks, I had no idea how to build an app. Where does Javascript fit in the whole app building process?</p>
					<p>The more I looked into it, the more confusing it got. What's Yeoman/Grunt/Bower? Where does AngularJs fit in? How do you run servers and how do you connect it to HTML/CSS? Should I use SQL or NoSQL for database? How do I deploy an app live?</p>
					<p>I saw a need for a more complete program, one that can guide beginners like me from the very basics to a fully functional, live web app.</p>
					<p>That's why I built this course.</p>
					<h3>Who is this course for?</h3>
					<p>This course is meant for all beginners, but it was especially designed with non-technical founders in mind.</p>
					<p>If you have an idea for a startup, but are tied down by lack of technical skills - like I was - this course is for you.</p>
					<h3>Here's the thing - it's really not that hard.</h3>
					<p>The thing is, it really isn't that hard to learn how to code. You're not looking to be a software engineer worthy of Google. You just need to be able to turn your business ideas into usable web apps so you can start testing and get to product-market fit.</p>
					<p>That's exactly where you'll get to 3 months from now. If you dedicate just 20-30 hours a week - which you can do even with a full-time job - you'll be able to turn your idea into reality any time you want.</p>
					<p>No need to wait to find a technical partner. No need to wait to find money. When your passion burns, you can make it happen.</p>
					<p>And that's a skill worth investing in.</p>
					<h3>About this course</h3>
					<p>This is a project-based course. We'll be building a real app together and in the process you'll pick up all the skills you need to build a fully functional app.</p>
					<p>I designed the course this way because I don't like to work through endless repetition of hypothetical exercises. That bores me to death.</p>
					<p>To keep this more manageable, we'll start with a basic, but complete app. And then we're going to add interesting features such as email subscription, user authentication, admin CMS, and payment processing for a more comprehensive, production ready app.</p>
					<h3>10 Students</h3>
					<p>I'm opening up this course soon - to just 10 students.</p>
					<p>I'm limiting the spots because this is a new course and I want to make sure I get it right. Having only 10 students will allow me to have a more personal interaction with each of them.</p>
					<p>In exchange for being my guinea pig, these 10 students will receive a significant discount. Right now, other programs similar to this course is priced at $1,500 - $4,500. I'm planning to charge $350/month over 3 months when it opens to public, but the first 10 students will pay just $500 for the whole course.</p>
					<h3>Are you tired of begging others for help?</h3>
					<p>If you're tired of relying on others to turn your ideas into reality and ready to take matters into your own hands, sign up to the mailing list below.</p>
					<p>When the course is ready, I will email everyone on the list with a short questionnaire and select the first cohort of 10 students.</p>
					<p>Thanks for reading and I hope to see you inside!</p>
					<p>Happy learning,</p>
					<p>Seungchan</p>
				</div>
			</section>
		</div>
	</article>

	<article class="pricing">
		<div class="container-md">
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Get on the Mailing List.</h2>
					<p>Learn how to build a fully functional app in 3 months.<br>Sign up to the mailing list to be notified when the course is ready.</p>
					<div>
						<a class="btn btn-primary btn-lg btn-pricing" ui-sref="signup">Sign Up to Mailing List&nbsp;&nbsp;<i class="fa fa-angle-right bouncing-arrow"></i></a>
					</div>
				</div>
			</section>
			<section class="row pricing-bullets">
				<div class="col-md-4">
					<h3>What you'll learn</h3>
					<hr>
					<p>HTML/CSS + Bootstrap for frontend design, AngularJs for frontend interaction, Firebase for database &amp; user authentication, NodeJs + Express for REST API, Stripe for payment processing.</p>
				</div>
				<div class="col-md-4">
					<h3>Pricing &amp; Duration</h3>
					<hr>
					<p><span class="strike"><i><b>$350</b>/mo for 3 months.</i></span> <b>$500</b> for the entire course for the first 10 students. This course requires 20-30 hours per week. It's designed to be completed in 3 months, but you can do it faster if you invest more time in it.</p>
				</div>
				<div class="col-md-4">
					<h3>Guarantee</h3>
					<hr>
					<p>You have 2 weeks to try out the course and if you don't find it awesome, I'll give you a full refund.</p>
				</div>
			</section>
		</div>
	</article>

</div>