<div class="container-fluid myaccount-wrapper">

	<article class="myaccount-bg">
		<nav ng-include="'views/partials/nav.html'"></nav>
	</article>

	<article class="myaccount">
		<div class="container-md">
			<div class="row">
				<div class="col-md-6 col-v-center">

					<section class="myaccount-text animated fadeInUp delay-500ms">
						<h2>My Account</h2>
						<div class="myaccount-fullname" ng-if="!wpr.edit">
							<p>{{ wpr.userData.fullname }}&nbsp;&nbsp;<a class="myaccount-edit" ng-click="wpr.edit = true">edit</a></p>
						</div>
						
						<!-- only show on edit -->
						<form class="myaccount-form" ng-submit="wpr.updateFullname()" ng-if="wpr.edit">
							<input class="form-control-outline-light myaccount-input" type="text" name="fullname" ng-model="formData.user.fullname" placeholder="Your Full Name" autofocus required>&nbsp;&nbsp;
							<button class="btn btn-yellow myaccount-btn" type="submit">Update</button>
							<button class="btn btn-red myaccount-btn" ng-click="wpr.edit = false" type="submit">Cancel</button>
						</form>
						
						<p>{{ wpr.userData.email }}</p>
					</section>

					<section class="myaccount-avatar-container animated fadeInUp delay-1000ms">
						<div class="myaccount-avatar-default" ng-if="!wpr.userData.avatarUrl"><i class="fa fa-smile-o fa-4x"></i></div>
						<img class="myaccount-avatar-image" ng-src="{{ wpr.userData.avatarUrl }}">
					</section>

					<section class="myaccount-btn-block animated fadeInUp delay-1000ms">
						<div btn-class="btn btn-primary btn-progress myaccount-btn" btn-text="Upload Your Picture" s3-upload bucket="coderfront" ng-model="formData.user.avatarUrl" s3-upload-options="{getOptionsUri: 'https://www.coderfront.com/s3credentials', folder: 'avatars/'}" success-callback="wpr.addAvatar()"></div>
						<button class="btn btn-yellow myaccount-btn" ui-sref="changepassword">Change Password</button>
					</section>

				</div>
			</div>
		</div>
	</article>

</div>