<div class="container-fluid register-wrapper">

	<sc-progressbar-top progress-width="register.progressWidth"></sc-progressbar-top>

	<section class="logo">
		<a ui-sref="home"><div class="logo-img"></div></a>
	</section>

	<!-- register step 1-->
	<article class="register-bg register-bg-color1" ng-if="wpr.step === 1">
		<section class="register-container absolute-center register-step-1">
			<form class="register-form-container" ng-submit="wpr.showStep(2)">
				<h4>Alright, let's get you set up!</h4>
				<label for="fullname">First, what's your full name and email?</label>
				<input class="register-form register-name" type="text" name="fullname" placeholder="Full Name" ng-model="formData.userData.fullname" sc-setfocus setfocus="wpr.focus.step1" required>
				<input class="register-form register-email" type="email" name="email" placeholder="Email" ng-model="formData.user.email" required>
				<button type="submit" class="btn btn-survey btn-survey-md">Next&nbsp;&nbsp;<i class="fa fa-angle-right"></i></button>
			</form>
		</section>
	</article>

	<!-- register step 2-->
	<article class="register-bg register-bg-color2" ng-if="wpr.step === 2">
		<section class="register-container absolute-center register-step-2">
			<form class="register-form-container" ng-submit="wpr.createUser()">
				<label for="password">Now please pick your password and confirm.</label>
				<input class="register-form register-password" type="password" name="password" placeholder="Password" ng-model="formData.user.password" sc-setfocus setfocus="wpr.focus.step2" required>
				<input class="register-form register-confirm-password" type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="formData.confirmPassword" required>
				<sc-loading-btn btn-class="btn btn-survey btn-survey-md" btn-type="survey" success="btn.success" loading="btn.loading">Done</sc-loading-btn>
			</form>
			<div class="survey-error-msg">{{ msg.error }}</div>
			<div class="survey-success-msg">{{ msg.success }}</div>
		</section>
	</article>

</div>