<div class="container-fluid resetpassword-wrapper">

	<section class="logo">
		<a ui-sref="home" tabindex="-1"><img class="logo-img" src="../images/logo-light.png" class="logo-img"></a>
	</section>

	<article class="resetpassword-bg resetpassword-bg-color1">
		<section class="resetpassword-container absolute-center">
			<form class="resetpassword-form-container" ng-submit="wpr.sendPasswordResetEmail()">
				<label for="fullname">Please enter your email and we'll send you a link to reset your password.</label>
				<input class="resetpassword-form resetpassword-email" type="email" name="email" placeholder="Email" ng-model="formData.user.email" autofocus required>
				<sc-loading-btn btn-class="btn btn-survey btn-survey-md" btn-type="survey" success="btn.success" loading="btn.loading">Send Now&nbsp;&nbsp;<i class="fa fa-paper-plane"></i></sc-loading-btn>
			</form>
			<div class="survey-error-msg">{{ msg.error }}</div>
			<div class="survey-success-msg">{{ msg.success }}</div>
		</section>
	</article>
</div>