<div class="container-fluid signup-wrapper">

	<sc-progressbar-top progress-width="signup.progressWidth"></sc-progressbar-top>

	<section class="logo">
		<a ui-sref="home" tabindex="-1"><img class="logo-img" src="../images/logo-light.png" class="logo-img"></a>
	</section>

	<!-- signup step 1-->
	<article class="signup-bg signup-bg-color1">
		<section class="signup-container absolute-center">
			<form class="signup-form-container" ng-submit="addToMailchimp()">
				<label for="fullname">Sign up now to be notified when the course is ready.</label>
				<input class="signup-form signup-name" type="text" name="fullname" placeholder="Full Name" ng-model="formData.subscriber.fullname" autofocus required>
				<input class="signup-form signup-email" type="email" name="email" placeholder="Email" ng-model="formData.subscriber.email" required>
				<sc-loading-btn btn-class="btn btn-survey btn-survey-md" btn-type="survey" success="btn.success" loading="btn.loading">Sign Up&nbsp;&nbsp;<i class="fa fa-angle-right"></i></sc-loading-btn>
			</form>
			<div class="survey-error-msg">{{ msg.error }}</div>
			<div class="survey-success-msg">{{ msg.success }}</div>
		</section>
	</article>

</div>