<div class="container thankyou-subscriber-wrapper">
	<div class="row">

		<section class="thankyou-subscriber-content col-md-6 col-md-offset-3">
			<h2>Thank you! There's just one more thing to do.</h2>
			<p class="thankyou-subscriber-important"><u>IMPORTANT:</u><br>You should get a confirmation email in just few minutes - please check your inbox and confirm your email.<br><br>Please note that without confirming, you won't be added to the waiting list and you won't receive any emails from us!</p>
			<p>Now, go and check your inbox!</p>
		</section>

	</div>
</div>
