<div class="container-fluid add-unit">

	<nav ng-include="'views/nav-member.html'"></nav>

	<div class="row">

		<!-- left side bar -->
		<aside class="add-unit-sidebar col-sm-4 col-md-3 col-lg-3" ng-include="'views/admin-sidebar.html'"></aside>

		<!-- main content section -->
		<article class="add-unit-content col-sm-8 col-md-8 col-lg-7">

			<section class="edit row">
				<div class="col-md-12">
					<h3>Add a New Unit</h3>
					<form ng-submit="addUnit.checkDuplicateUnit(addUnit.unitId)">
						<div class="form-group">
							<label>Unit Number</label>
							<input class="form-control" type="number" ng-model="addUnit.unitId" required>
							<label>Unit Title</label>
							<input class="form-control" type="text" ng-model="addUnit.unit.title" required>
							<label>Intro Text</label>
							<textarea class="form-control" rows="10" ng-model="addUnit.unit.intro" required></textarea>
							<button class="btn btn-primary" type="submit"><sc-btn-loading loading-toggle="btn.loading">Create Unit</sc-btn-loading></button>
						</div>
					</form>

					<!-- modal for confirming overwrite if the Unit Id already exists -->
					<a sc-modal sc-modal-open="addUnit.overwriteModalOpen" sc-modal-type="overwrite" sc-modal-text="This Unit Id already exists. Are you sure you want to overwrite this Unit?" sc-modal-yes="addUnit.overwriteUnit();" sc-modal-first-no="addUnit.insertUnit()"></a>
				</div>
			</section>

		</article>

	</div>

</div>