<div class="md-modal md-effect-3">
	<div class="md-content">
		<h4>{{ scModalHeading }}</h4>
		<div>
			<p>{{ scModalText }}</p>
			<button class="btn btn-red btn-yes" ng-click="closeModal(); yesAction()">Yes.</button>
			<button ng-if="scModalType === 'overwrite'" class="btn btn-red btn-first-no" ng-click="closeModal(); firstNoAction()">No, insert it.</button>
			<button class="btn btn-red btn-no" ng-click="closeModal(); noAction()">No, abort!</button>
		</div>
	</div>
</div>
<div class="md-overlay"></div><!-- md-modal overlay element -->
